  .center{
    position: absolute;
    margin-top: 15%;
    margin-left: 45%;
  }

  .btn{
    background-color:cadetblue;
    width: 80px;
    height: 40px;
    color: white;
    border: none;
  }