
.center{
    position: absolute;
    margin-top: 15%;
    margin-left: 45%;
  }

  .btn{
    margin-top: 20px;
    background-color:cadetblue;
    width: 80px;
    height: 30px;
    font-size: 20;
    color: white;
    border: none;
  }

  .first{
    margin-top: 10px;
    width: 200px;
    height: 20px;
  }

  .second{
    margin-top: 10px;
    width: 200px;
    height: 20px;
  }

  .operator{
    margin-top: 10px;
  }